# Node modules folder
node_modules/

# dotenv environment variables file
.env

# IDEs and editor folders
.vscode/
.idea/

# MacOS system files
.DS_Store

# Linux system files
*~

# Windows system files
Thumbs.db